<ng-container *ngIf="this.control && this.config;">

  <ng-container [ngSwitch]="this.config.type">
    <ng-container *ngSwitchCase="'checkbox'">
      <mat-checkbox [formControl]="this.control" [labelPosition]="this.config.label?.position ?? 'after'" class="question-content" color="primary">
        {{this.config.label?.text ?? ''}}
      </mat-checkbox>
    </ng-container>
    <ng-container *ngSwitchCase="'radio'">
      <mat-radio-group [formControl]="this.control" style="display: block;" class="question-content">
        <mat-radio-button *ngFor="let option of (this.config.options ?? [])"
                          [value]="option.value" class="question-content">{{option.display}}</mat-radio-button>
      </mat-radio-group>
    </ng-container>
    <ng-container *ngSwitchCase="'date'">
      <mat-form-field class="question-content">
        <mat-label *ngIf="this.config.label">{{this.config.label.text}}</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <mat-form-field class="question-content">
        <mat-label *ngIf="this.config.label">{{this.config.label.text}}</mat-label>
        <ng-container [ngSwitch]="this.config.type">
          <textarea *ngSwitchCase="'textarea'" [formControl]="this.control" matInput></textarea>
          <mat-select *ngSwitchCase="'select'" [formControl]="this.control">
            <mat-option *ngFor="let option of (this.config.options ?? [])"
                        [value]="option.value">{{option.display}}</mat-option>
          </mat-select>
          <input *ngSwitchDefault [formControl]="control" [type]="this.config.type" matInput/>
        </ng-container>
      </mat-form-field>
    </ng-container>
  </ng-container>

</ng-container>
