.app-container {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(400px, 60%)  minmax(400px, 40%);
}

.generate-button {
  width: 100%;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.form-area {
  margin: .25rem;
}

.result-area {
  display: flex;
  flex-direction: column;
}

.field-result {

}

.json-result {

}
