<div class="app-container">
  <div class="form-area">
    <app-page [config]="appConfig.pages[0]" [control]="appForm.get('questionBuilder')"></app-page>
    <button class="generate-button" (click)="this.generateField()" mat-stroked-button>Generate Field</button>
    <button class="generate-button" (click)="this.showJson = !this.showJson" mat-raised-button>
      {{this.showJson ? 'Hide' : 'Show'}} JSON for this form.
    </button>
    <div *ngIf="this.showJson" style="border: 1px darkgrey solid; border-radius: .5rem;">
      <pre><code>{{this.appJson | json}}</code></pre>
    </div>
  </div>
  <div class="result-area">
    <div class="field-result">
      <ng-container *ngIf="this.resultControl && this.result; else noGeneratedField">
        <app-question [control]="this.resultControl" [config]="this.result"></app-question>
      </ng-container>
    </div>
    <div class="json-result">
      <pre>
        <code *ngIf="this.result; else noGeneratedJson">{{this.result | json}}</code>
      </pre>
    </div>
    <ng-template #noGeneratedField>You have not yet generated a field, fill out the form.</ng-template>
    <ng-template #noGeneratedJson>{{'{}'}}</ng-template>
  </div>
</div>

